@{
    ViewData["Title"] = "Home Page";
}

<div class="py-5">
    <h1 class="text-center display-4 my-5">Bem vindo à nossa apresentação sobre o padrão MVC</h1>
    <p>
        Este site foi criado com o intuito de demonstrar os conhecimentos adquiridos até agora sobre o padrão MVC 
        utilizando a tecnologia .NET6 assim como os passos para conetar e gerir a informação constante na nossa
        base de dados.
    </p>
    <p>
        Especificamente, este site foi criado para permitir que as seguintes funcionalidades possam ser executadas:
    </p>
    <ul class="list-group mt-3">
        <li class="list-group-item py-1 border-primary border-start-0 border-end-0 col-md-6">
            <span class="text-danger">&rarr;</span> Adicionar ufcd's, formadores and formandos
        </li>
        <li class="list-group-item py-1 border-primary border-start-0 border-end-0 col-md-6">
            <span class="text-danger">&rarr;</span> Editar os dados das ufcd's, dos formadores e dos formandos
        </li>
        <li class="list-group-item py-1 border-primary border-start-0 border-end-0 col-md-6">
            <span class="text-danger">&rarr;</span> Inserir as notas dos formandos em cada uma das ufcd's'
        </li>
        <li class="list-group-item py-1 border-primary border-start-0 border-end-0 col-md-6">
            <span class="text-danger">&rarr;</span> Apresentar dados estatísticos sobre as informações inseridas na base de dados
        </li>
    </ul>
    <p class="text-center mt-5" style="font-size: 1.75rem;">
        Se quisr analisar outros trabalhos meus, deixo aqui o link para o meu
        <a href="https://github.com/maviam" target="_blank" style="color: #41B6E6; text-decoration: none;">github</a>.
    </p>
</div>
