html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.close-alert {
    position: absolute;
    right: -15px;
    top: -15px;
    width: 30px;
    height: 31px;
    border-radius: 15px;
    font-weight: bolder;
}

.table-striped tr:nth-child(odd) td{ background-color: #E3EAE0; }

.remover form button { font-size: 1.5em; letter-spacing: 2px; font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif; }